body {
    background-color: #121212; /* Cor que identificamos na imagem anterior */
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1a1a1a;
    border-bottom: 2px solid #ff0000; /* Vermelho do botão ativo */
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #333;
}

.btn-buy, #btn-salvar {
    background: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: #222;
    border: 1px solid #444;
    color: white;
}
